<form [formGroup]="loginForm">
  <mat-form-field class="w-100">
    <mat-label> Email </mat-label>
    <input
      matInput
      formControlName="email"
      type="text"
      [ngModel]="emailValue"
      (ngModelChange)="emailValue = $event.toLowerCase()"
    />
    <mat-error>
      {{ loginForm.get("email")?.errors | formErrors }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label> Contraseña </mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hide ? 'password' : 'text'"
    />
    <mat-icon class="text-white" matSuffix (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error>
      {{ loginForm.get("password")?.errors | formErrors }}
    </mat-error>
  </mat-form-field>
  <mat-card-actions align="end">
    <button
      (click)="login()"
      [disabled]="loginForm.invalid"
      mat-flat-button
      color="primary"
      type="submit"
    >
      Log In
    </button>
  </mat-card-actions>
</form>
