<div class="container d-flex align-items-center justify-content-center">
  <div class="col-8">
    <div *ngIf="usuario$ | async as usuario">
      <mat-card class="my-custom-card">
        <mat-card-header>
          <mat-card-title>
            <h2>{{ usuario | fullName : "uppercase" }}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Email: {{ usuario.email }}</p>
          <p>Tipo de usuario: {{ usuario.role | titlecase }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
